<!DOCTYPE html>
<html>

<footer id="footer" class="inner">{% include footer.html %}</footer>
{% include head.html %}

    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                <a href="https://github.com/{{ site.github_user }}">github.com/{{ site.github_user }}</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
